*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}

.contact1{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url(fabian-grohs-PuxTq4DwUHE-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0 0);
    opacity: .9;
}
pre{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.submit1 a{
    border: 1px solid white;
    border-radius: 100px;
    padding: 8px 25px;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 350px;
    right: 660px;
    
}
.submit1 a:hover{
    color:black;
    background-color:white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 skyblue;   
}

 
 