*{
    margin: 0;
    padding: 0;
}
a{text-decoration: none;}

.login{
    width: 100%;
    height: 100vh;
    padding: 30px;   
    position: relative;
    background-attachment: fixed;
}
.login:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
   
    background: linear-gradient(330deg, #50d1c0 55%, thistle 0%);
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;

}
.button-box{
    width: 200px;
    margin: 25px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px; 
}
.toggle-btn {
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
   
}
#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
   
}

.icons{
    margin: 30px auto;
    text-align: center;
}
.icons img{
    width: 30px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d ;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 200px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  .submit-btn{
    width:85% ;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 8px 30px 0;
    
}
span{
    color: #777;
    font-size: 14px;
    bottom: 65px;
    position: absolute;
    font-family: sans-serif;  

}
#sign-in{
    left: 50px;
}
#sign-up{
    left: 450px;
}
.finish a{
    border: 1px solid white;
    border-radius: 100px;
    padding: 8px 25px;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 600px;
    right: 330px;
    
}
.finish a:hover{
    color:black;
    background: linear-gradient(to right, #ff105f,#ffad06);
    text-decoration: none;
    box-shadow: 0 0 20px 0 skyblue;   
}
