html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}

/*******************header parts start********************/
.sec1{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url(fabian-grohs-PuxTq4DwUHE-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0 0);
    opacity: .9;
}
.nav{
    position: fixed;
    z-index: 9999999;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color:skyblue;
    top: 8px;
    opacity: .9;
        
}
.nav-item a{
    color:navy;
    font-weight: bold;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    z-index: 1;
}
.navbar-brand  {
    color:navy;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
#firstclass{
    color: #fff;
    text-decoration: none;
}
#secondclass:hover{
    color: #fff;
    text-decoration: none;
}
.header-section{
    width: 100%;
    margin-top: 200px;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    
}
.center-div h3{
    font-size: 14px;
    font-family: 'open-sans',sans-serif;
    font-weight: bold;
    color:white;
}
.center-div h1{
    font-size: 40px;
    font-family: 'open-sans',sans-serif;
    margin: 15px 0px;
    font-weight: bold;
    color:black;
}
.header-button a{
    border: 1px solid white;
    border-radius: 100px;
    margin:40px 5px;
    padding: 12px 30px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.header-button a:hover{
    color:black;
    background-color:white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 skyblue;   
}

  /*******************header parts end********************/
  /*******************offer start********************/

 .offers h2{
    padding-top: 5px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    padding: 20px;
}
 .offers{
    width: 100%;
    height: 100vh;
    padding: 30px;   
    position: relative;
    font-family: 'open-sans',sans-serif;
    background-attachment: fixed;
    background-color: powderblue;
    
}


.names h1{
    font-weight: bold;
    margin-left: 500px;    
    color: darkcyan;   
}
.names .progress{
    margin-left:400px;
  
    
}
 /*******************offer ends********************/
 
 /*******************courses starts********************/
 .courses h2{
     font-size: 40px;
     font-weight: bold;
     color:black;
     padding: 5px;
 }
 .courses{
    width: 100%;
    height: 100vh;
    padding: 30px;   
    position: relative;
    background-attachment: fixed;
}
.courses:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}
 .card{
    transition: 0.4s ease;

}
.card-header{
   font-size: 20px;
   font-weight: bold;
   background: white!important;
   padding: 25px 9!important;
   text-align: center;
}
.card-body{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: white!important;
    padding: 30px 70px!important;
}
 .card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin:0px 5px;
    padding: 12px 30px;
    outline: none;
    color:#50d1c0;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
}
.card:hover .card-footer a{
    color:#fff;
    background-color:#50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3) ;   

}
.card:hover{
 transform: translateY(-20px);
 box-shadow: 0 0 20px 0 rgba(0,0,0,0.3) ; 
}
.card:hover .card-header{
 color: #50d1c0;

}


 /*******************courses ends********************/
 
 /*******************login start********************/
 .login{
    width: 100%;
    height: 100vh;
    padding: 30px;   
    position: relative;
    background-attachment: fixed;
}
.login:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    z-index: -1;
    color: ;
    background: linear-gradient(330deg, #50d1c0 55%, thistle 0%);
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;

}
.button-box{
    width: 200px;
    margin: 25px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px; 
}
.toggle-btn{
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
   
}

.icons{
    margin: 30px auto;
    text-align: center;
}
.icons img{
    width: 30px;
    background: linear-gradient(to right, #ff105f,#ffad06);
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d ;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 10px;
    position: absolute;
    width: 200px;
    transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn{
    width:85% ;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
    
}
 /*******************login ends********************/
 /*******************contact us********************/
 .contain{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.contact{
    width: 100%;
    height: 100vh;
    padding: 30px;   
    position: relative;
    background-attachment: fixed;
    background-color: #16c9f6; 
    tex 
}
.contact .contain h2{
    text-align: center;
    text-decoration: underline;
    color:black ;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 40px;
}
.contact .contain p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color:black;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}
.contact-form i.fa{
    font-size: 25px;
    padding: 1%;
    background-color: none;
    margin: 1%;
    cursor: pointer;
    border-radius: 30%;
    border: 2px solid black;
    color: mediumpurple;
}
.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color:skyblue;
}
.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}
.form-info{
    font-size: 16px;
    font-style: italic;
    color:black;
    letter-spacing: 2px;
    font-weight: bold;
}
form{
 position: absolute;

 right: -70px;
}
input{
    padding:10px;
    width: 60%;
    height: 80px;
    background-color: paleturquoise ;
    color: black;
    outline: none;
    border:1px solid #16c9f6;
    
 
}
input::placeholder{
    color:black;
}
textarea{
    padding: 10px;
    margin: 5px;
    width: 60%;
    height: 80px;
    background-color: paleturquoise;
    color: black;
    border:1px solid #16c9f6;
   
  
}
textarea::placeholder{
    color: black;
}
.submit a{
    border: 1px solid white;
    border-radius: 100px;
    padding: 8px 25px;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 420px;
    right: 650px;
    
}
.submit a:hover{
    color:black;
    background-color:white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 skyblue;   
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}
#myBtn:hover{
    background: #606060;
}


 /*******************contact us********************/

